# Fichiers spécifiques
data/raw/caracterisques.csv
data/raw/radars-2023.csv
data/cleaned/radars_delta_clean.csv
data/cleaned/caract_clean.csv
bdd/database.db
data/cleaned/cleaned_2023.csv
data/cleaned/cleaned_all.csv
data/communes.geojson
data/departements-version-simplifiee.geojson
data/regions-versions-simplifiee.geojson
data/cleaned/communes_avec_arrondissements.csv
.venv

# Dossiers Python
**/__pycache__/
*.pyc
*.pyo


# Dossier db cache
db/__pycache__/
