# Tous les fichiers de données
data/raw/*.csv
data/cleaned/*.csv
bdd/*.db

# GeoJSON volumineux
data/*.geojson
*.geojson

# Environnement virtuel
.venv/
venv/

# Dossiers Python
**/__pycache__/
*.pyc
*.pyo

#video
ACCIDENTOLOGIE_DASH.mp4

# Dossier db cache
db/__pycache__/
